# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea
*.swp
*.swo

# Documentation
README.md
*.md

# Backend specific
backend/test.db
backend/server.exe
backend/*.bak
backend/.env

# Frontend specific
frontend/node_modules
frontend/.env
!frontend/.env.production  <-- บรรทัดนี้สำคัญ! สั่งให้ "ยกเว้น" (เอาไฟล์นี้เข้าไปได้)
frontend/dist

# Docker
docker-compose*.yml
Dockerfile*

# OS files
.DS_Store
Thumbs.db